.title {
    font-weight: bold;
    font-size: 24px;
}

.registerInput {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    margin-top: 15px;
    font-family: AlegreyaSansSC, serif;
    padding-left: 25px;
    font-size: 18px;
}

.mainButtonPink {
    width: 200px!important;
    font-weight: bold;
}

.registerContainer {
    text-align: center;
    padding-top: 18vh;
}
.register__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}
.register__error_message{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 576px) {
    .registerInput {
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 350px;
        height: 60px;
        border-radius: 15px;
        margin-top: 15px;
        font-family: AlegreyaSansSC, serif;
        padding-left: 25px;
        font-size: 18px;
    }

    .mainButtonPink {
        width: 280px!important;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .registerContainer {
        text-align: center;
        padding-top: 23vh;
    }
}