@font-face {
    font-family: "FrederickatheGreat" ;
    src: local('FrederickatheGreat'), url('./assets/fonts/FrederickatheGreat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaSansSC" ;
    src: url('./assets/fonts/AlegreyaSansSC-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaSansSC" ;
    src: url('./assets/fonts/AlegreyaSansSC-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

