@font-face {
  font-family: "FrederickatheGreat" ;
  src: local('FrederickatheGreat'), url('./assets/fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSansSC" ;
  src: local('AlegreyaSansSCNormal'),url('./assets/fonts/AlegreyaSansSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSansSC" ;
  src: local('AlegreyaSansSCBold'),
  url('./assets/fonts/AlegreyaSansSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


