.mainWrapper {
    background: linear-gradient(180deg, #FF9D9D 0%, #FFC5C5 32.81%, #FFE6E6 75.52%, #FFFFFF 100%);
    height: 100vh;
    width: 100vw;
}

.mainButton {
    height: 60px;
    width: 250px;
    -webkit-appearance: none;
    background-color: #FFFFFF;
    -moz-appearance: none;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'AlegreyaSansSC', serif;
    border: none;
}

.mainButtonPink {
    height: 60px;
    width: 250px;
    -webkit-appearance: none;
    color: #FFFFFF;
    background-color: #FF9D9D;
    -moz-appearance: none;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'AlegreyaSansSC', serif;
    border: none;
}

.mt-5 {
    margin-top: 30px;
}

.mb-5 {
    margin-bottom: 30px;
}

.mb-3 {
    margin-bottom: 15px;
}

@media (min-width: 1200px) {
    .mainButton {
        height: 60px;
        width: 350px;
        -webkit-appearance: none;
        background-color: #FFFFFF;
        -moz-appearance: none;
        border-radius: 15px;
        font-size: 18px;
        font-family: 'AlegreyaSansSC', serif;
        border: none;
    }

    .mainButtonPink {
        height: 60px;
        width: 350px;
        -webkit-appearance: none;
        color: #FFFFFF;
        background-color: #FF9D9D;
        -moz-appearance: none;
        border-radius: 15px;
        font-size: 18px;
        font-family: 'AlegreyaSansSC', serif;
        border: none;
    }
}

.noneButton {
    height: auto;
    width: auto;
    -webkit-appearance: none;
    background-color: transparent;
    -moz-appearance: none;
    border: none;
}

.buttonDiv {
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    text-align: center;
    margin-top: 30px;
}

