.navigation{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding: 0 15px;
    position:absolute;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}
.logout{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin-right: 57px;
}
.register{
    margin-left:73px ;
    font-weight: bold;
}
.login{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.login__right{
    width: 243px;
    display: flex;
    justify-content: space-between;
    margin-right: 57px;
}
.login__button{
    font-weight: bold;
    background: none;
    cursor: pointer;
}